{% extends 'base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
      <div id="messageContainer">
          {% for message in chat_messages %}     
            <div>
              <span class="color-gray">{{ message.created_at }}</span> <b>{{ message.author}}:</b> <i>{{ message.text }} </i>   
            </div>    
          {% endfor %}

      </div>
          <script>
            async function sendMessage() {
              let formData = new FormData()
              let token = '{{ csrf_token }}';
              formData.append('textmessage', messageField.value)
              formData.append('csrfmiddlewaretoken', token)
              let todayFormatted = getFormattedDate()
                try {
                  messageContainer.innerHTML += `
                  <div class="color-gray" id="tempMessage">
                    <span class="color-gray">${todayFormatted}</span> <b>{{ request.user }}:</b> <i class="color-gray">${messageField.value} </i>   
                  </div>`;
                
                  let response = await fetch('/chat/', {
                    method: 'POST',
                    body: formData
                  });
                
                let jsonResponse = await response.json();
                console.log("Json is", jsonResponse)

                let objResponse = await JSON.parse(jsonResponse)
                console.log('objResponse is', objResponse)
                let formattedDateString = formatDateString(objResponse.fields.created_at)
                console.log(formattedDateString)
                document.getElementById('tempMessage').remove();
                console.log("removed tempMessage")
                messageContainer.innerHTML += `
                <div>
                  <span class="color-gray">${formattedDateString}</span> <b>{{ request.user }}:</b> <i>${objResponse.fields.text} </i>   
                </div>`;
                console.log('Success!')


                } catch(e) {
                    console.error('An error occured', e)
                  }
            }

            function getFormattedDate() {
                const today = new Date();
                
                const options = { year: 'numeric', month: 'long', day: 'numeric' };
                const formattedDate = today.toLocaleDateString('en-US', options);
                
                return formattedDate;
            }

            function formatDateString(dateString) {
              const date = new Date(dateString);
              
              const options = { year: 'numeric', month: 'long', day: 'numeric' };
              const formattedDate = date.toLocaleDateString('en-US', options);
              
              return formattedDate;
            }
        
          </script>

            <form onsubmit="sendMessage(); return false;" method="post">
              <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
              >
                <!-- {% csrf_token %} -->
                <input
                  class="mdl-textfield__input"
                  type="text"
                  name="textmessage"
                  id="messageField"
                />
                <label class="mdl-textfield__label" for="messageField">Text...</label>
              </div>
              <button
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              >
                Send
              </button>
            </form>
            {% else %}
      
            <h1>Nicht eingeloggt</h1>
            <p>Du bist aktuell nmicht eingeloggt. Bitte logge Dich ein.<br>
              Bitte klicke <a href="/login/">hier</a>
      
            {% endif %}
            {% endblock%}